body {
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  vertical-align: baseline;
  background-image: linear-gradient(#3f0807,#121212, #121212);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  overflow: hidden;
  min-height: 600px;
  min-width: 768px;
}

#main {
  isolation: isolate;
  width: 100%;
  z-index: 0;
}

#main, .Root {
  height: 100%;
  position: relative;
}

.Root__top-container {
  display: grid;
  grid-template-areas:
      "nav-bar main-view buddy-feed"
      "now-playing-bar now-playing-bar now-playing-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.Root__top-bar {
  grid-area: main-view;
  height: 60px;
  min-width: 0;
  pointer-events: none;
  z-index: 2;
}

.top-header {
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  align-items: center;
  display: -webkit-box;
  display: flex;
  height: 60px;
  justify-content: space-between;
  max-width: calc(100vw - var(--nav-bar-width));
  padding: 16px;
  padding-inline-end: 16px;
  position: relative;
  width: 100%;
  z-index: 3;
}

.top {
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color .25s;
  z-index: -1;
}

.arrow {
  margin-right: 16px;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgba(0,0,0,.7);
  border: none;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  position: relative;
  width: 32px;
}

.arrow-svg {
  height: 22px;
  opacity: 1;
  width: 22px;
  stroke-width: 1pt;
}


.root-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  display: flex;
  flex-direction: column;
  min-height: 0;
  position: relative;
}

.sidebar {
  margin: 0;
  padding: 24px 0 0 0;
  width: 232px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: #000;
  position: relative;
  height: 100%;
  overflow: auto;
  z-index: 3;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
}

.sidebar a {
  display: block;
  color: #b3b3b3;
  text-decoration: none;
}

.sidebar a.active {
  color: white;
  background-color: #282828;
}

.sidebar a:hover:not(.active) {
  color: white;
}

div.content {
  margin-left: 232px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.logo {
  color: #fff;
  -webkit-box-flex: 1;
  border: 0;
  flex: 1;
  margin-bottom: 18px;
  padding: 0 24px;
  position: relative;
}

.logo .spotify-logo {
  height: 40px;
  max-width: 131px;
  width: 100%;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
}

li {
  margin-left: -40px;
  display: list-item;
  text-align: -webkit-match-parent;
}

.test {
  padding: 0 8px 0 8px;
}

.position {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 6px 16px 0 16px;
  color: #b3b3b3;
  vertical-align: middle;
}

.svg-icon {
  margin-right: 16px;
}


.svg-box {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: 24px;
  justify-content: center;
  padding: 4px;
  position: relative;
  width: 24px;
}

.svg-box-icon {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.grad {
  background: linear-gradient(135deg, #450af5, #c4efd9);
  border-radius: 1px;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #4d4c4c;
}

.third-ul {
    margin-left: 24px;
    color: #b3b3b3;
}

.li-position {
    padding: 6px 0px 6px 0px;
}

.Root__now-playing-bar {
  background-color: #181818;
  grid-area: now-playing-bar;
  width: 100%;
  z-index: 4;
}

.now-playing-bar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  background-color: #181818;
  border-top: 1px solid #282828;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 620px;
}

.player {
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
}

.player-position {
  min-width: 180px;
  width: 30%;
}

.player-position2 {
  max-width: 722px;
  width: 40%;
}

.player-controls, player-controls__buttons {
  -webkit-box-direction: normal;
  display: flex;
}

.player-controls {
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.player-controls__buttons {
  -webkit-box-orient: horizontal;
  flex-flow: row nowrap;
  gap: 8px;
  margin-bottom: 12px;
  width: 100%;
}

.player-controls__left {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.player-controls__left, .player-controls__right {
  -webkit-box-flex: 1;
  display: flex;
  flex: 1;
  gap: 8px;
}

.shuffle {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  background: transparent;
  border: none;
  display: flex;
  height: var(--button-size);
  justify-content: center;
  min-width: var(--button-size);
  position: relative;
  width: var(--button-size);
  color: #535353;
}

button {
  size: 32px;
}