body {
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  vertical-align: baseline;
}

.root-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: flex;
    flex-direction: column;
    min-height: 0;
    position: relative;
}

.sidebar {
  margin: 0;
  padding: 24px 0 0 0;
  width: 232px;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: #000;
  position: relative;
  height: 100%;
  overflow: auto;
  z-index: 3;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
  
}

.sidebar a {
  display: block;
  color: #b3b3b3;
  text-decoration: none;
}
 
.sidebar a.active {
  color: white;
  background-color: #282828;
}

.sidebar a:hover:not(.active) {
  color: white;
}

div.content {
  margin-left: 232px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.logo {
    color: #fff;
    -webkit-box-flex: 1;
    border: 0;
    flex: 1;
    margin-bottom: 18px;
    padding: 0 24px;
    position: relative;
}

.logo .spotify-logo {
    height: 40px;
    max-width: 131px;
    width: 100%;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;

}

li {
    margin-left: -40px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.test {
    padding: 0 8px 0 8px;
}

.position {
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 6px 16px 0 16px;
    color: #b3b3b3;
    vertical-align: middle;
}

.svg-icon {
    margin-right: 16px;
}

.second-ul {
    margin-top: 24px;
}

.svg-icon-plus {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    align-items: center;
    background: #fff;
    border-radius: 1px;
    color: #000;
    display: -webkit-box;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}
