.speaker {
	position: relative;
}
.speaker::after {
	content: '';
	position: absolute;
	width: 100px;
	height: 6px;
	background-color: rgb(218, 209, 213);
	top: 6px;
	border-radius: 20px;
	margin-left: 2px;
}
.card {
	transition: all 0.5s;
	opacity: 0.8;
}
.card:hover {
	transform: translateY(-5px);
	opacity: 1;
}

@media only screen and (min-width: 1000px) {
	.shows-details {
		margin-left: -18rem;
	}
}
