@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	overflow: hidden;
}

.line {
	border: 0.5px solid rgba(0, 0, 0, 0.383);
}

.button-1 {
	width: 600px;
	height: 50px;
	background-color: rgba(7, 97, 216, 0.657) !important;
	border-radius: 30px;
	border: none;
	color: white;
	transition: all 0.5s ease-in-out;
}
.button-2 {
	width: 600px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.795) !important;
	border-radius: 30px;
	border: none;
	color: white;
	transition: all 0.5s;
}

.icon-facebook {
	background-color: white;
	color: rgb(2, 91, 255) !important;
	padding: 14px;
	border-radius: 50%;
}
.button-1:hover,
.button-2:hover {
	opacity: 0.9;
	transform: scale(1.04);
}

/* --------------------animations for card--------------------- */
.box {
	position: relative;
}
.box .square {
	position: absolute;
	background-color: rgba(227, 235, 228, 0.1) !important;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	animation: animatebox 10s linear infinite;
	animation-delay: calc(-1s * var(--i));
}
@keyframes animatebox {
	0%,
	100% {
		transform: translateY(-50px);
	}
	50% {
		transform: translateY(50px);
	}
}
.box .square:nth-child(1) {
	top: -60px;
	right: -60px;
	width: 100px;
	height: 100px;
}
.box .square:nth-child(2) {
	top: 150px;
	left: -100px;
	width: 80px;
	height: 80px;
	z-index: 3;
}
.box .square:nth-child(3) {
	bottom: 50px;
	right: -100px;
	width: 120px;
	height: 120px;
	z-index: 3;
}
.box .square:nth-child(4) {
	bottom: -80px;
	left: 100px;
	width: 50px;
	height: 50px;
}
.box .square:nth-child(5) {
	top: -60px;
	left: -50px;
	width: 60px;
	height: 60px;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
	background: linear-gradient(to bottom, #7da1db, #c36fbf);
	margin-top: 10px;
	border-radius: 30px;
}

.color {
	position: absolute;
	filter: blur(350px);
}

.color:nth-child(1) {
	top: -350px;
	width: 600px;
	height: 600px;
	background-color: #1623e2;
}
.color:nth-child(2) {
	bottom: -150px;
	left: 100px;
	height: 600px;
	width: 600px;
	background-color: #eb1426;
}
section .color:nth-child(3) {
	bottom: 50px;
	right: 100px;
	height: 300px;
	width: 300px;
	background-color: #015a69;
}
.form-inside {
	position: relative;
	width: 400px;
	min-height: 400px;
	background-color: rgba(255, 255, 255, 0.1) !important;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.form {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 40px;
}
.form h3 {
	position: relative;
	color: #fff;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 40px;
}
.form h3::before {
	content: '';
	position: absolute;
	width: 80px;
	left: 0;
	bottom: -10px;
	height: 4px;
	background-color: #fff;
}
.form .inputBox {
	margin-top: 20px;
	width: 100%;
}
.form .inputBox input {
	width: 100%;
	background: rgba(255, 255, 255, 0.4);
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 30px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-right: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	font-size: 16px;
	letter-spacing: 1px;
	color: black;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.form .inputBox input::placeholder {
	color: white;
}
.form .inputBox input[type='submit'] {
	background: #fff;
	color: #666;
	max-width: 100px;
	cursor: pointer;
	margin-bottom: 20px;
	font-weight: 600;
}
.forget,
.sign-up {
	margin-top: 5px;
	color: #fff;
}
.forget a,
.sign-up a {
	color: rgb(255, 255, 255);
	font-weight: 600;
}
